@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

body {
	font-family: Orbitron, serif;
	background: #020617;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100svh;
}

.wrapper {
	display: flex;
	flex-direction: column;
	padding: 1rem;
}

.canvas {
	width: min(50svh, calc(100vw - 5rem));
	aspect-ratio: 1 / 1;
	margin-bottom: 0.5rem;
}

.score-wrapper {
	margin-bottom: 1rem;
	font-size: 2rem;
	color: grey;
	display: flex;
	gap: 0.8rem;
}

.score {
	text-align: center;
}

.vs {
	font-weight: 600;
	line-height: 2.5rem;
}

.color-left {
	color: #f8ab2b;
}

.color-right {
	color: #4d428b;
}

.speed-section {
	display: flex;
	flex-direction: column;
	font-size: 1.5rem;
	gap: 1rem;
}

.speed-player {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.speed-controls {
	display: grid;
	grid-template-columns: min-content min-content;
	column-gap: 0.8rem;
}

.speed-label {
	font-size: 1rem;
	color: grey;
	display: contents;
	text-wrap: nowrap;
	align-items: center;
}
